.spacer {
  flex: 1 1 auto;
}

.h-logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.reponsive-title {
  display: none;
}

@media screen and (min-width: 575px) {
  .reponsive-title {
    display: block;
  }
}
