<ng-container *ngIf="usersData">
  <h1>{{ usersData.total_count }} users</h1>
  <div className="list-group-item">
    <ng-container *ngFor="let user of usersData.items">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img mat-card-avatar [src]="user.avatar_url" [alt]="user.login" />
          </div>
          <mat-card-title>{{ user.login }}</mat-card-title>
          <mat-card-subtitle>{{ user.login }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
  <ng-container *ngIf="usersData.total_count > 30">
    <app-pagination
      [total]="usersData.total_count"
      [page]="usersData.page"
      [text]="text"
      type="Users"
    ></app-pagination>
  </ng-container>
</ng-container>
