/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  margin: 10px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.card-date {
  color: rgba(0, 0, 0, 0.54);
  text-align: end;
}
