<div class="wrapper">
  <div class="sidenav">
    <ul class="list">
      <li class="item">
        <div class="content">
          Repositories
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Code
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Commits
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Issues
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Discussions
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Packages
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Marketplace
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Topics
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Wikis
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
      <li class="item">
        <div class="content">
          Users
          <span class="badge">0 </span>
        </div>
        <div class="divider"></div>
      </li>
    </ul>
  </div>
  <div class="main">
    <app-user-list
      [usersData]="service.usersData"
      [text]="text"
      [type]="type"
    ></app-user-list>
  </div>
</div>
