<div class="wrapper">
  <div class="sidenav">
    <ul class="list">
      <li class="item" *ngFor="let option of resultArray">
        <div
          class="content"
          (click)="onSelectType(option.title)"
          [class]="selectedFilter === option.title ? 'selected' : ''"
        >
          <span>{{ option.title }}</span>
          <span
            [matBadgeDisabled]="option.total_count === 0"
            [matBadge]="option.total_count === 1000 ? '1K' : option.total_count"
            matBadgeOverlap="false"
            matBadgePosition="after"
          ></span>
        </div>
        <div class="divider"></div>
      </li>
    </ul>
  </div>

  <div class="main">
    <div class="results" [style]="innerHeight">
      <h1 *ngIf="resultTitle; else elseBlock">{{ resultTitle }}</h1>
      <ng-template #elseBlock>
        <h2 class="center">{{ noResults }}</h2>
        <app-no-results></app-no-results>
      </ng-template>

      <app-result-search
        [data]="resultFiltered"
        [text]="text"
        [type]="type"
      ></app-result-search>
    </div>

    <app-pagination
      *ngIf="resultFiltered.total_count > 30"
      [total]="resultFiltered.total_count"
      [page]="resultFiltered.page"
      [text]="text"
      [type]="selectedFilter"
    ></app-pagination>
  </div>
</div>
